@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Awesome Website";
}


<!-- My name, picture, goals for this class -->
<h1>Tanner Holmes</h1>
<img id="picTannerAndKatherine" src="img/sitting on wall katherine and tanner.jpg" />
<p>I hope that through this 413 class I will be able to actually learn how to build a website, and actually enjoy it.</p>
<br />
<!-- List of jobs I want to pursue -->
<p>Top 3 jobs I want to pursue</p>
<ul>
    <li>Owning my own company</li>
    <li>Data Science</li>
    <li>Web Designer</li>
</ul>

